@model IEnumerable<OneMoreShot.Models.employeeData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpBDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpBDate)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.img_name)*@
            <img src="@Url.Content(item.img_name)" height="200" width="200" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { EmpId = item.EmpId }) |
            @Html.ActionLink("Details", "Details", new { EmpId = item.EmpId }) |
            @Html.ActionLink("Delete", "Delete", new { EmpId=item.EmpId })
        </td>

    </tr>
}

</table>
